
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Public+Sans:wght@400;600&display=swap');

body {
  background-color:whitesmoke;
}

/* Fonts */ 

h1 {
  color:rgb(131, 180, 139);
  font-family: UDPMincho;
  font-weight: 400;
}

h2 {
  font-family: Public Sans;
  font-weight: 600;
}

p {
  font-family: Public Sans;
  font-weight: 400;
}


ul { 
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: Pubic Sans;
}

/* Images */

img {
  width: 100%;
}

/* HEADER */

header {
  font-size: xx-large;
  text-align: center;
}

.logo img {
  width: 100px;
}

.about {
  grid-area: about;
}

.volunteers {
  grid-area: volunteers;
} 

figcaption {
  align-items: center;
  text-align: center;
}

/* Medium Screens */

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 300px 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    "volunteers about" ;
}
}

/* Large Screens */ 

@media screen and (min-width: 1500px) {
.container {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 400px 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  "volunteers about" ;
}
}
