body {
  background-color:whitesmoke;
}

h1 {
  color:rgb(131, 180, 139);
}


h2 {
  font-size:xx-large;
}

ul { 
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header {
  font-size: xx-large;
}


.about {
  grid-area: about;
}

.volunteers {
  grid-area: volunteers;
}

figcaption {
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 800px 500px;
  grid-template-rows: 300px 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "volunteers about" 
}