body {
  background-color: whitesmoke;
}

h1 {
  color:rgb(131, 180, 139);
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.oliver {
  grid-area: oliver;
}

.lucy {
  grid-area: lucy;
}

.bob {
  grid-area: bob;
}

.george {
  grid-area: george;
}

.ivy { 
  grid-area: ivy;
}

.luna {
  grid-area: luna;
}

button {
  color:rgb(131, 180, 139);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "oliver lucy"
  "bob george"
  "ivy luna" ;
}