
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Public+Sans:wght@400;600&display=swap');

body {
  background-color: whitesmoke;
}

/* Fonts */ 

h1 {
  color:rgb(131, 180, 139);
  font-family: UDPMincho;
  font-weight: 400;
}

h2 {
  font-family: Public Sans;
  font-weight: 600;
}

p {
  font-family: Public Sans;
  font-weight: 400;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Cards */ 

.oliver {
  grid-area: oliver;
}

.lucy {
  grid-area: lucy;
}

.bob {
  grid-area: bob;
}

.george {
  grid-area: george;
}

.ivy { 
  grid-area: ivy;
}

.luna {
  grid-area: luna;
}

button {
  color:rgb(131, 180, 139);
}

/* Medium Screens */ 

@media screen and (min-width: 800px) {
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "oliver lucy"
  "bob george"
  "ivy luna" ;
}
}

/* Large Screens */ 

@media screen and (min-width: 1500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    "oliver lucy bob"
    "george ivy luna";
  }
}